@import "tailwindcss";
@theme {
  --font-apple: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  --font-apple--font-feature-settings: "kern";
  --color-azulClaro: #007aff;
}
